*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   

}

:root{
  /* --main-color:#ea4f4c; */
  --main-color:	#21aaba;

}

body{
    /* background: #a0a0ad; */
    height: 100vh;
    background: #464646;
}

.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}



.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px ;
  border-radius: 50%;
  background-color: red;
  color: white;
}




@-webkit-keyframes rotating{
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  svg {
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
    
    width: 50px;
    height: 50px; 
    text-align: center;
    padding: 0 10px;
    
  }




.admission-open{
    width: 100%;
   align-items: center;
   color: #fff;
   display: flex;
   text-align: center;
   box-sizing: border-box;
   justify-content: center;
   text-decoration-thickness: auto;
   background-color: var(--main-color);
   padding: 10px;
   position: relative;
  

}

#AY{
    font-size: 30px;
    font-weight: 500;
}
/* -----------------nav bar------------ */

nav{
    overflow: hidden;
    min-height: 80px;
    box-sizing: border-box;
    width: 100%;
    background: #141414;
    /* background: linear-gradient(110deg, #141414 60%, #333333 60%); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    z-index: 2;

    


}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.logo{
    font-size: 30px;
    color: white;
    
    font-weight: 600;
}

nav ul{
    display: flex;
    list-style: none;


}
.menu-bar{
    z-index: 1;
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 300ms ease;
}

nav ul li a:hover{
    background: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    color:var(--main-color);
}
nav ul li a.active{
    background: var(--main-color);
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 20px;
    color:white;
}

.menu-btn i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;

}
#click{
    display: none;
}

/*------------------------- Image------------------ */

.bg-image {
    background-image: url("/img/1111-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100%;
    position: relative;

    
  }
  /* .img11{
      width: 100%;
  } */


  .text-block {
    position: absolute;
    top: 20%;
    left: 8%;
    font-size: 30px;
    color: #000;
    padding-left: 20px;
    padding-right: 600px;
  }

  button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: var(--main-color);
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }

  .details-para{
    padding-bottom: 10px;
    
  }

  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: #333;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }

  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }

  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }


  /*------------------------- Marquee------------------ */

  .AO-AO{
    padding: 20px 30px;
      text-align: center;
  }
#AO{
    color:#ff2824;
    font-size: 30px;
}

/*------------------------- slide show------------------ */
.gallary{
  background-color: #000;
}

.gal{
text-align: center;
color: var(--main-color);
font-weight: 500;
font-size: 38px;
padding: 20px;
}


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: rgba(0,0,0,0.8);
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
  color: var(--main-color);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dotContainer{
  margin-top: 10px;
  text-align:center
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.gallary-images{
  width: 100%;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*------------------------- About us------------------ */


.about-us-text{
  text-align: center;
color: var(--main-color);
font-weight: 500;
font-size: 38px;
padding: 20px 20px 100px 20px;
}
.about-container{
  padding: 50px ;
  text-align: left;

}

.about-title{
  justify-content: center;
  color: #fff;
  padding: 10px; 
  font-weight: 400;
  font-size: 25px;
  display: flex;
}
.about-para{
  color: #ffffff80;
  padding: 10px;
  display: block;
  text-align: justify;
  font-size: 18px;
  font-weight: 600;

}
.about-image{
  max-width:380px;
  margin-left:15px; 
  max-height: 255px;  

}
.about-text-container{
  display: flex;
  padding: 0 100px;
  align-items: center;

}
/*------------------------- COURSE OFFERED------------------ */
.course-container{
  background-color: #000;
  color: #fff;

}
.course{
  padding:0 100px ;
  color: #ffffff80;
}
.course-title{
  text-align: center;
  padding: 30px 100px 0 100px; 
  font-weight: 800;
  font-size: 30px;
}
.course-details{
  max-width: 400px;
}
.course-info{
text-align: left;
max-width: 500px;
}
.course-info-title{
  padding: 20px 0;
  font-size: 18px;

}
.course-info-para{
  padding: 20px 0;

}
.class-details-para{
  padding: 10px 0;
}
.course-image{
  align-items: center;
  justify-content: center;
}
.course-image-div{
  float: right;
  
}
.course-image-bg{
 
  width: 400px;
}

/*------------------------- contact us------------------ */
.contact-us{
  text-align: center;
  color: white;
  padding-bottom: 20px;
}
.contact-us-title{
  padding: 70px 0;
  color:var(--main-color);
  font-weight: 500;
  font-size: 38px;

}
.contact-us-para{
  padding: 30px 0px;
  font-size: 22px;
  font-weight: 500;
  color: #f7f7f7;
}

.whatsapp-container{
  padding: 100px 0;
}
.whatsapp{
  background: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 20px;
    color: #000;
    text-decoration: none !important;
}





.whatsapp-icon{
  width: 30px;
}
.whatsapp-text{
  color: black;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}
.tel-div{
  display: grid;
  grid-row-gap: 10px;
}
.tel{
  text-decoration: none !important;
  color: #fff;
  font-size: 20px;
}
.date-time{
  color: #a4a4a4;
  font-size: 16px;
}

/*------------------------- copyright------------------ */
.copyright{
  text-align: center;
  font-size: 16px;
  padding: 30px 5px;
  color: #a9a9a9;
  box-shadow: -5px 0px 10px 0px #333
}
.design{
padding-top: 20px;  
text-align: center;
  color: #a9a9a9;

}
.d-name{
  text-decoration: none !important;
  color: #ffffff;
}
hr{
  margin: 20px 30%;

}
/* ==============credit container=============== */
.creditsTitle{
  color: #464646;
}

.credits{
  width: 100px;
}
.trigger{
  background-color: transparent;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a4a4a4;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #464646;
}

.close-button:hover {
  background-color: #000;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.notice-copyright{
  margin-top: 100px;


}

/* ======================notice board============== */
.noticeContainer{
  text-align: center; 
  background-color: black;
  color: rgb(255, 255, 255);
}
.noticeBoard{
  border: 1px solid rgb(255, 255, 255); 
  text-align: center;
  color: white;font-size: 20px; 
  background-color: #717171; 
  width: 70%;
  height: 300px;
}
.note{
  font-size: 8px;
}




/* ============================ all pages ======================*/
.about-us-container,
.contact-us-container{
  background-color: #000;
}

.eligibility-title{
  text-align: center;
  padding: 30px 20px 0 20px;
  font-weight: 800;
  font-size: 30px;
  color: white;
}
.anm{
  text-align: center;
  padding: 30px 20px 0 20px;
  font-weight: 600;
  font-size: 30px;
  color: #e8e8e8;
}

ul .eligibility-info {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.eligibility-info li{
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}
/* ============================ all pages ======================*/



@media(max-width:940px){
 
    #AY{
        font-size: 20px;
        font-weight: 400;
    }
    


    nav{
        padding: 0 5px 0 10px;

    }

    .menu-bar{
        overflow: auto;
    }

 

    .menu-btn i{
        display: inline-block;
    }
    #click:checked ~.menu-btn i::before{
        content: "\f00d";
    }

    .logo{
       font-size: 28px;
       position: relative;
       text-align: center;
       margin-right: 10px;
       
    }
    nav ul{
        position: fixed;
        box-sizing: border-box;
        top: 0;
        left: -100%;
        background-color: black;
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 300ms ease ;

    }

    #click:checked ~ ul{
        left: 0;
    }

    nav ul li{
        margin: 40px 0;
        

    }
    nav ul li a:hover{
        background: transparent;
        padding: 0;
        
    }
    nav ul li a.active{
        background: none;
        color:var(--main-color);
        
    }

    .bg-image{
        height:80%;
    }
/* ----------------gallary-------------- */
.gal{

  font-size: 32px;
  }
  /* --------------------------about us ----------------- */
  .about-us-text{

    font-size: 32px;
    padding: 20px;

    }

      /* --------------------------course----------------- */


    .course-image-div{
      float: none;
      
    }
    .course-image-bg{
     
      width: 400px;
    }
    
}



/* On smaller screens, decrease text size slide show */

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


  @media(max-width:1300px) {
    .text-block {
      top: 34%;
      font-size: 20px;
      padding-right: 400px;

    
    }
   
  }

  @media(max-width:1000px){
    .text-block {
      top: 34%;
      font-size: 20px;
      padding-right: 200px;

    
    }

 /* ================ about us ======================  */
    .about-image{
      margin-left:0; 
      float: none;
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
    }
   
    .about-text-container{
      display: block;
      padding: 0;
    }
    /* ================== course ============ */
    .course-title{
      font-size: 25px;
      padding: 30px;
    }
    
    
  }

  @media(max-width:800px) {
    .logo{
      font-size: 25px;
    }

    .text-block {
      top: 4%;
      font-size: 20px;
      padding-right: 200px;

    
    }
    
  }

  @media(max-width:600px){
    .logo{
      font-size: 23px;
    }


    .bg-image {
      background-image: url("img/1112-min.jpg");
    }

    .text-block {
      top: 34%;
      font-size: 16px;
      padding-right: 20px;
    }
    .text-block-title{
      display: inline-block;
      background-color: #cccccc8c;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

    }
    .details-para{
      background-color: #cccccc8c;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     margin-bottom: 10px;

    }
    .about-image{
      max-width: 300px;
    
    }

    .course{
      padding: 0 50px;
    }

    .course-image-bg{
     
      width: 300px;
    }
  }


  @media(max-width:450px) {
    .logo{
      font-size: 20px;
    }

     /* ================about us ======================  */

    .about-container{
      padding: 10px ;
    }

    .about-image{
      max-width: 200px;
    
    }

    .course{
      padding: 20px;
    }

    
    
  }

  @media(max-width:550px){
    .text-block {
      top: 4%;      

    }
  }

  @media(max-width:340px){
    .course-image-bg{
     
      width: 200px;
    }
  }

  @media(max-width:300px) {
    .text-block {
      left: 4%;
      font-size: 12px;
      padding: 0;

    }
    .whatsapp-text{
      font-size: 10px;
    }

    
  }
  @media(max-width:220px){
    .whatsapp-text{
      font-size: 8px;
    }
  }

  @media(max-height:600px) and (min-width:800px){
    .text-block {
      top: 15%;
      left: 15%;
      font-size: 16px;
      padding-right: 400px;

    }
  }

  @media(max-height:500px) {
    .text-block {
      top: 4%;
      font-size: 12px;
      padding-right: 20px;
    }
    
  }

  @media(max-height:200px) {
    .text-block {
      top: 4%;
      padding-right: 10px;
    }
    
  }
